/*couleur de l'arrière plan*/
body{
    background-color: #fff;
}

/*pour l'entête*/
.list{
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 20px;
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
    transition-property: 10s;
    background-color: #424b54;
}

.lien{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fffafa;
}

/*sous ligner le titre de la page actuelle*/
.page1{
    text-decoration: underline;
}

/*appenrence dynamique*/
.lien:hover{
    text-decoration: underline;
}

ul{
    margin: auto;
    text-align: justify;
}

a{
    text-align:justify;
}