/*pour l'entête*/
.list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.lien{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: cadetblue;
    font-weight: 700;
}

/*sous ligner le titre de la page actuelle*/
.page3{
    text-decoration: underline;
}

